{% extends 'user/base.html' %}
{% block head %}<title>Verify</title> {% endblock %}
{% block body %}
<div class="pro-main" style="margin:50px 10px ;">
<h3 class="text-center">Verify Projects</h3>
 <a class="float-right mb-15" href="javascript:history.go(-1)"><img src="https://png.icons8.com/ios/150/3584fc/left-filled.png" height="50px" width="50px"></a>

    <pre class="mt-5 text-center">*Verify-Makes you the supervisor of that team and changes the project type from ACADEMIC VOLUNTEER to ACADEMIC ALLOTED.
*Discard-Rejects project from Academic type to IDEA and sets remarks to "REJECTED".</pre>

    {% if team_list %}
    <table class="table mt-3">
        <tr>
            <th>TEAM NAME</th>
            <th>TEAM LEADER</th>
            <th>PROJECT TITLE</th>
            <th>PROJECT RESOURCES</th>
            <th>VERIFY</th>
            <th>DISAPPROVE</th>
        </tr>
        {% for project in team_list %}
        <tr>
            <td><a href="{% url 'project:view-team' project.id %}" value="{{project.project_id}}">{{ project.team_name }}</a> </td>
            <td>{{ project.first_name }} {{ project.last_name }}</td>
            <td><a href="{% url 'project:description' project.pid %}">{{ project.title }}</a></td>
            <td>{{project.resources}}</td>
            <td><a href="{% url 'project:proverified' project.id  %}" onclick="return confirm('Are you sure you want to approve this item?');">Verify</a></td>
            <td><a href="{% url 'project:prodisapproved' project.id  %}" onclick="return confirm('Are you sure you want to disapprove this item?');">Disapprove</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<h4>Nothing To Show</h4>
</div>
{% endif %}
{% endblock %}