{% extends 'base.html' %}

{% block body %}

    <div class="container gap">
        <h3 class="text-heading">About CSE DEPARTMENT</h3>
        <hr>
        <p class="sample-text" style="font-size: 16px;">

            <b>The Department of Computer Science and Engineering (CSE)</b> is one of the best departments at <b>Mugneeram
            Bangur Memorial College of Engineering</b>. It administers bachelor's programs in Computer Science
            Engineering and in IT Engineering, as well as master's and PHD's programs in Computer Science and
            Engineering.

            <br>Many full-time faculty members provide a comprehensive program that emphasizes algorithms and theory,
            advanced computer architecture, computer vision and pattern recognition, data mining and machine learning,
            distributed systems and grid computing, operating systems and computer networks, computer security, and
            scientific computing.

            <br>The CSE department's many strengths include its high faculty-to-student ratio, state of the art
            facilities, renowned faculty, strong focus on undergraduate education balanced with leading-edge research,
            and emphasis on leadership, service, and ethics.

            Faculty and students often collaborate on projects, working side-by-side with researchers from other
            colleges and departments across the campus, such as the <u>Defense Research and Development Organization
            (DRDO), IIT Jodhpur</u>. In addition to the excellent faculty and quality research opportunities available
            through the department, there is a real sense of community and teamwork here.

            <br>The CSE department also provide students interested in research and projects with a recommended sequence
            of elective courses and guidance.

            <br>These concentrations provide students to grow their strength and capabilities to cop with the changing
            scenario. Completion of one of the Concentrations is recorded on the student's official transcript at
            graduation.

            <br>Graduates from the CSE department are heavily recruited by many top companies. Graduates take up careers
            in the computing industry, the finance industry, traditional large engineering companies, startup companies,
            management consulting companies, medical informatics companies, and government. Some of our top
            undergraduates each year enter the PhD program in Computer Science and Engineering at leading universities
            around the country.
        </p>
        <hr>
    </div>
{% endblock %}