{% extends 'base.html' %}

{% block body %}


    <section class="generic-banner relative">
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="generic-banner-content">
                        <h2 class="text-white">The Generic Page</h2>
                        <p class="text-white">It won’t be a bigger problem to find one video game lover in your <br>
                            neighbor. Since the introduction of Virtual Game.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- About Generic Start -->
    <div class="main-wrapper">

        <!-- Start testomial Area -->
        <section class="testomial-area pt-100">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">What our Reader’s Say about us</h1>
                            <p>Who are in extremely love with eco friendly system.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="active-tstimonial-carusel">
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="img/t1.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor,
                                printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="img/t2.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor,
                                printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="img/t3.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor,
                                printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="img/t1.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor,
                                printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="img/t2.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor,
                                printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="img/t3.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor,
                                printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="img/t1.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor,
                                printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="img/t2.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor,
                                printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="img/t3.png" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor,
                                printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Mark Alviro Wiens</h4>
                            <p>
                                CEO at Google
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End testomial Area -->

        <!-- Start Generic Area -->
        <section class="about-generic-area section-gap">
            <div class="container border-top-generic">
                <h3 class="about-title mb-30">Elaboration about Generic Page</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="img-text">
                            <img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
                            <p>Recently, the US Federal government banned online casinos from operating in America by
                                making it illegal to transfer money to them through any US bank or payment system. As a
                                result of this law, most of the popular online casino networks such as Party Gaming and
                                PlayTech left the United States. Overnight, online casino players found themselves being
                                chased by the Federal government. But, after a fortnight, the online casino industry
                                came up with a solution and new online casinos started taking root. These began to
                                operate under a different business umbrella, and by doing that, rendered the transfer of
                                money to and from them legal. A major part of this was enlisting electronic banking
                                systems that would accept this new clarification and start doing business with me.
                                Listed in this article are the electronic banking systems that accept players from the
                                United States that wish to play in online casinos.</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <p>Recently, the US Federal government banned online casinos from operating in America by making
                            it illegal to transfer money to them through any US bank or payment system. As a result of
                            this law, most of the popular online casino networks such as Party Gaming and PlayTech left
                            the United States. Overnight, online casino players found themselves being chased by the
                            Federal government. But, after a fortnight, the online casino industry came up with a
                            solution and new online casinos started taking root. These began to operate under a
                            different business umbrella, and by doing that, rendered the transfer of money to and from
                            them legal. A major part of this was enlisting electronic banking systems that would accept
                            this new clarification and start doing business with me. Listed in this article are the
                            electronic banking systems that accept players from the United States that wish to play in
                            online casinos.</p>
                    </div>
                    <div class="col-lg-12">
                        <p>Recently, the US Federal government banned online casinos from operating in America by making
                            it illegal to transfer money to them through any US bank or payment system. As a result of
                            this law, most of the popular online casino networks such as Party Gaming and PlayTech left
                            the United States. Overnight, online casino players found themselves being chased by the
                            Federal government. But, after a fortnight, the online casino industry came up with a
                            solution and new online casinos started taking root. These began to operate under a
                            different business umbrella, and by doing that, rendered the transfer of money to and from
                            them legal. A major part of this was enlisting electronic banking systems that would accept
                            this new clarification and start doing business with me. Listed in this article are the
                            electronic banking systems that accept players from the United States that wish to play in
                            online casinos.</p>
                    </div>
                    <div class="col-md-12">
                        <div class="img-text">
                            <img src="img/a2.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
                            <p>Recently, the US Federal government banned online casinos from operating in America by
                                making it illegal to transfer money to them through any US bank or payment system. As a
                                result of this law, most of the popular online casino networks such as Party Gaming and
                                PlayTech left the United States. Overnight, online casino players found themselves being
                                chased by the Federal government. But, after a fortnight, the online casino industry
                                came up with a solution and new online casinos started taking root. These began to
                                operate under a different business umbrella, and by doing that, rendered the transfer of
                                money to and from them legal. A major part of this was enlisting electronic banking
                                systems that would accept this new clarification and start doing business with me.
                                Listed in this article are the electronic banking systems that accept players from the
                                United States that wish to play in online casinos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Generic Start -->

{% endblock %}