{% extends 'base.html' %}
 {% load staticfiles %}


    {% block head %}

        <title>Home</title>

        <style>

            /* width */
            ::-webkit-scrollbar {
                width: 4px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #888;
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            #cardHod {
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                width: 100%;
            }

            #cardHod:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }


            /* Add some padding inside the card container */
            .hod {
                padding: 2px 16px;
            }

        #tags {
            top: -41px;
            height: 3px;
            background-color: #bba6a6;
        }
        
        .carouselPosition {
            height: 400px;
        }

        #hodImage{
            height: 250px; width: 250px;
        }

        #news{
            float: right;
            margin-right: 20px;
            width:100%;
            margin-left: 50px
        }

        #newsDetail{
            padding-right: 50px;
        }
        
        @media screen and (max-width: 800px){

        .carouselPosition {
            height: 397px;
            padding: 50px;
            }

        #hodImage{
            height: 250px; width: 250px;
                margin-left: auto;
                margin-right: auto;
                display: block;
        }

        .welcome{
            font-size: 30px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        #news{
            float: right;
            margin-right: 0px;
            width:100%;
            margin-left: 50px
        }

        #newsDetail{
            padding-right: 0px;
        }
        }

        @media screen and (max-width: 400px) {

            .carouselPosition {
                height: 450px;
                padding: 50px;
            }

            #welcome{
                font-size: 20px;
            }
        }
        </style>


     {% endblock %}


    {% block body %}


<div style="background-color: #f9f9ff">
        <!-- carousel -->
                <div id="carouselExampleIndicators" class="carousel slide carouselPosition" data-ride="carousel">
				<ol class="carousel-indicators">
				  <li id="tags" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				  <li id="tags" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				  <li id="tags" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" style="max-height: 330px ; position: relative; margin: auto">
                  <div class="carousel-item active" style="background-color: #f9f9ff;">
                      <img src="{% static 'home/img/MBM LOGO.png' %}" style="height: 110px; margin-left: auto; margin-right: auto; display: block;">
                      <div class="col-lg-6" style="margin-left: auto; margin-right: auto; display: block;" >
							<h1 id="welcome" style="text-align: center;margin-left: auto;margin-right: auto;" class="col-lg-10 welcome">
							</h1>
							<p class="pt-20 pb-20" style="text-align: center;" >

                        The Department of Computer Science and Engineering at MBM is renowned
                        for cutting edge research and for imparting state of the art education.
                        We attract some of the brightest students and faculty, and invite you to
                        join us in the excitement.
							</p>
                      </div>
				  </div>
				  <div class="carousel-item">
				    <img class="d-block w-100" src="{% static 'home/img/carousel2.JPG' %}" alt="First slide">
				  </div>
				  <div class="carousel-item">
				    <img class="d-block w-100" src="{% static 'home/img/carousel3.JPG' %}" alt="Second slide">
				  </div>

				</div>

				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				  <span class="fa fa-arrow-circle-left" style="color: #0b0b0b" aria-hidden="true"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				  <span class="fa fa-arrow-circle-right" style="color: #0b0b0b"></span>
				  <span class="sr-only">Next</span>
				</a>

				</div>
        <!-- carousel end -->



			<!-- Vision Mission-->
			<div class="container">
                    <div class="row">
                        <div class="col-md-8 ">
                            <div class ="row" style="padding: 0px 15px;">
								<div class="single-defination">
									<h4 class="mb-20 text-center"><img src="{%  static 'home/img/s1.png' %}" alt="">
                                        Vision</h4>
									<ul class="unordered-list">
                                        <hr>
                                        <li>To provide quality education through state-of-the-art
                                        teaching-learning methods to produce competent graduates and post graduates in the field
                                            of Computer Science, Information Technology and Computer Applications.</li>

                                       <li> To create facilities and resources to discover and disseminate knowledge to
                                        students for the advancement of society and industry.
                                       </li>


                                        <li>To partner and collaborate with industry, government and R&D institutions to pace
                                            with latest research & sustainable technologies and ensure quality assurance.</li>


                                        <li>To impart innovative and entrepreneurial outlook, values, ethics and vision
                                            to students to make them responsible professionals and global citizens.</li>

                                        <hr>

                                    </ul>
								</div>
							</div>


                            <div class="row">
                            <div class="col-md-6 mt-30">
								<div class="single-defination" >
									<h4 class="mb-20 text-center">
                                        Mission</h4>
									<ul class="unordered-list">
                                        <hr>
                                        <li>To be a leader in providing excellent educational,
                                        research and techno-entrepreneurial resources in the field of
                                        Computer Science and Engineering to meet out the existing,
                                            future and inter disciplinary needs of industry and society.</li>
                                        <br>
                                        <hr>
                                    </ul>
								</div>
							</div>

                            <div class="col-md-6 mt-30">
								<div class="single-defination">
									<h4 class="mb-20 text-center">
                                        Program Specific Outcomes</h4>
									<ul class="unordered-list">

                                        <hr>
                                        <li>To collect requirements, analyze, design, implement, test and maintain software systems.</li>

                                       <li>  To analyze existing software solutions with respect to known trade-offs and
                                           constraints and propose better solutions.
                                       </li>

                                        <li>  To train in project based assignments.
                                       </li>

                                        <hr>

                                    </ul>
								</div>
							</div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-30">
								<div class="single-defination">
									<h4 class="mb-20 text-center">Notifications</h4>
                                        <div class="col-md-12 ">

                                    <!--Notification Table -->
                                            <div class="jumbotron" style="padding: 0px 4px; margin-top:47px;0px 4px 4px 0 rgba(0,0,0,0.2);" id="cardHod">
                                                <!--marquee height="550" onmouseout="this.start();" onmouseover="this.stop();" behavior="slide" scrollamount="2" direction="up" class="newseventmq"-->

                                                    <ul class="newseventmq" style="height:550px;padding-top:10px; overflow-y: scroll">
                                                        {% for i in notice %}
                                                        <li style="border-bottom: solid 1px #e4d6da; color: #0b0b0b; ;text-align: justify; padding: 14px 10px;">
                                                            {{ i.information }}<br>
                                                            {% if i.attachment %}
                                                            <img src="{{ i.attachment.url }}" height="200" width="100%">
                                                            {% endif %}
                                                                <span style="color:lightcoral;font-size:11px;">Posted on {{ i.created_on }}&nbsp;</span>
                                                                <span style="color:lightseagreen;font-size:11px;">by {{ i.created_by }}</span>
                                                        </li>
                                                        {% endfor %}

                                                    </ul>

                                                <!--/marquee-->
                                            </div>
                                    <!--end Notification Table -->
						                </div>
                                </div>
							</div>

                        <div class="col-lg-12 col-md-12 mt-30">
								<div class="single-defination">
									<h4 class="mb-20 text-center"><img src="{%  static 'home/img/s4.png' %}">Program Educational Objectives</h4>
									<ul class="unordered-list">
                                        <hr>
                                        <li >Graduate will establish himself/herself as effective professional by
                                            solving real world problems using exploratory and analytical skills
                                            through the offered courses.</li>

                                       <li>  Graduate will demonstrate his/her ability to implement various software
                                           development concepts and adapt to rapidly changing environment in
                                           advanced areas of Computer Science.
                                       </li>


                                        <li>Graduate will embrace professional code of ethics, right conduct and responsible team leadership while
                                            deliberately being part of projects which contributes to the society at large without disturbing
                                            the ecological balance.</li>
                                        <br>
                                    </ul>
								</div>
							</div>



                    </div>
            </div>
			<!-- End Vision Mission -->

        <!--Message from HOD -->
        <div class="section-top-border container">
						<h3 class="mb-30 text-center">Message From HOD</h3>
						<div class="row">
                            <div class="col-lg-3" id="cardHod">
                                <div style="padding-left: 6px;padding-top:10px;">
                                  <img src="{% static 'home/img/hod.jpg' %}" alt="HOD IMAGE" id="hodImage" style="height: 250px; width: 250px;">
                                  <div class="hod">
                                    <p style="text-align: center">Head, CSE Department</p>
                                  </div>
                                </div>
							</div>
							<div class="col-lg-9">
								<blockquote class="generic-blockquote" id="cardHod" style="width: 100%; margin-top: 50px">
									[Needs to be updated] “It is a pleasure to head the department of CSE.
                                    The department offers BE(CSE) and ME(CSE).
                                    The department has a team of highly experienced and motivated faculty members who are in process of tuning
                                    the young minds to make them globally competitive.</blockquote>
                            </div>
						</div>
        </div>

        <!-- End message from HOD-->






			<!-- Start home-aboutus Area -->
			<section class="home-aboutus-area">
				<div class="container-fluid">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-8 no-padding about-left">
                            <!--marquee height="250" onmouseout="this.start();" onmouseover="this.stop();" behavior="scroll" scrollamount="22" direction="right" class="newseventmq"-->
                                <img src="{% static 'home/img/encarta.png' %}" height="250" id="news">
                            <!--/marquee-->
							</div>
						<div class="col-lg-4 no-padding about-right">
							<!--h1 class="top-title">In the NEWS</h1-->
							<p id="newsDetail">
								<marquee height="240" onmouseout="this.start();" onmouseover="this.stop();" behavior="scroll" scrollamount="3" direction="up" class="newseventmq">

                                                    <ul id="cardHod">
                                                        <li style="border-bottom: solid 1px #e4d6da; text-align: center; padding: 10px;">
                                                            <h3 class="text-white">Changes in Criteria for Programmer Titles<br></h3>
                                                            <p style="color: whitesmoke;padding-top:20px;">Hello Coders! Innovation and Programming Club has made changes to the criteria for the Monthly Programmer Titles. Stay Updated!</p>
                                                        </li>
                                                        <li style="border-bottom: solid 1px #e4d6da; text-align: center; padding: 10px;">
                                                            <h3 class="text-white">Encarta-21 in News<br></h3>
                                                            <p style="color: whitesmoke;padding-top:20px;">Congratulations to all the students of the department!<br/>Encarta-21 completed on 02 Dec'18. Event was covered by many local newspapers on 03 Dec'18.</p>
                                                        </li>

                                                    </ul>
                                </marquee>
						    </p>
						</div>
					</div>
				</div>
			</section>
			<!-- End home-aboutus Area -->


			<!-- Start protfolio Area
            <section class="protfolio-area section-gap" id="project">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Our Offered Services</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8 single-portfolio">
						  <img class="image img-fluid" src="img/p1.jpg" alt="">
						  <a href="img/p1.jpg" class="img-pop-up">
							  <div class="middle">
							    <div class="text"><span class="lnr lnr-frame-expand"></span></div>
							  </div>
						  </a>
						</div>
						<div class="col-lg-4 single-portfolio">
						  <img class="image img-fluid" src="img/p2.jpg" alt="">
						  <a href="img/p2.jpg" class="img-pop-up">
							  <div class="middle">
							    <div class="text"><span class="lnr lnr-frame-expand"></span></div>
							  </div>
						  </a>
						</div>
						<div class="col-lg-4 single-portfolio">
						  <img class="image img-fluid" src="img/p3.jpg" alt="">
						  <a href="img/p3.jpg" class="img-pop-up">
							  <div class="middle">
							    <div class="text"><span class="lnr lnr-frame-expand"></span></div>
							  </div>
						  </a>
						</div>
						<div class="col-lg-8 single-portfolio">
						  <img class="image img-fluid" src="img/p4.jpg" alt="">
						  <a href="img/p4.jpg" class="img-pop-up">
							  <div class="middle">
							    <div class="text"><span class="lnr lnr-frame-expand"></span></div>
							  </div>
						  </a>
						</div>
						<div class="col-lg-6 single-portfolio">
						  <img class="image img-fluid" src="img/p5.jpg" alt="">
						  <a href="img/p5.jpg" class="img-pop-up">
							  <div class="middle">
							    <div class="text"><span class="lnr lnr-frame-expand"></span></div>
							  </div>
						  </a>
						</div>
						<div class="col-lg-6 single-portfolio">
						  <img class="image img-fluid" src="img/p6.jpg" alt="">
						  <a href="img/p6.jpg" class="img-pop-up">
							  <div class="middle">
							    <div class="text"><span class="lnr lnr-frame-expand"></span></div>
							  </div>
						  </a>
						</div>
					</div>
				</div>
			</section>
			<!-- End protfolio Area -->

        <!-- Our companies  -->
        <div class="row section-gap" style="margin: 0px 50px ;" >

	 <div class="col-md-6">
		 <div id="companies" class="carousel slide" data-ride="carousel">

         <ol class="carousel-indicators col-md-2" >
             <li data-target="#companies" data-slide-to="0" class="active"></li>
             <li data-target="#companies" data-slide-to="1"></li>
             <li data-target="#companies" data-slide-to="2"></li>
         </ol>


         <div class="carousel-inner">
             <div class="carousel-item active">
                 <div class="partner">
                     <a href="http://www.appperfect.com/index.php">
                         <img src="{% static 'home/img/app_perfect.png' %}" alt="Partner"></a>

                 </div>

             </div>
	 <div class="carousel-item">
		 <div class="partner">
			 <a href="https://www.tcs.com/">
				 <img src="{% static 'home/img/tcs.png' %}" alt="Partner"></a>


         </div>

     </div>
	 <div class="carousel-item">
		 <div class="partner">
			 <a href="http://www.metacube.com/">
                 <img src="{% static 'home/img/metacube.png' %}" alt="Partner"></a>
         </div>

     </div>
         </div>
         <a class="carousel-control-prev" href="#companies" role="button" data-slide="prev">
             <span class="fa fa-arrow-circle-left" style="color:#000;" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#companies" role="button" data-slide="next">
             <span class="fa fa-arrow-circle-right" style="color:#000;" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
         </a>
</div>
     </div>

	 <div class="col-md-6">
		 <p class="pretitle">VISITING COMPANIES</p>
		 <h3>We collaborate with others</h3>
         <p style="width:100%; text-align:justify; margin-top:10px;">Every year many companies visit the campus to find their future employees and executives among the innovative and talented students of the department. We are happy to welcome all the companies and startups for partnering with us!</p>
	 </div>

 </div>

        <!-- end companies -->


			<!-- Start home-video Area --
			<section class="home-video-area" id="about">
				<div class="container-fluid">
					<div class="row justify-content-end align-items-center">
						<div class="col-lg-4 no-padding video-right">
							<p class="top-title">Tutorial for beginner</p>
							<h1>Watch tutorial <br>
							Video of SaaS to start</h1>
							<p><span>We are here to listen from you deliver exellence</span></p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim.
							</p>
						</div>
						<section class="video-area col-lg-6">
							<div class="overlay overlay-bg"></div>
							<div class="container">
								<div class="video-content">
									<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="play-btn"><img src="/static/home/img/play-btn.png" alt=""></a>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>
			<!-- End home-aboutus Area -->

			<!-- Start price Area -->
			<section class="price-area" id="price">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Statistics</h1>
								<p>We like numbers very much.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<div class="single-price">
								<div class="top-sec d-flex justify-content-between">
									<div class="top-left">
										<h4>Stundets Placed</h4>
										<p>Every Year</p>
									</div>
									<div class="top-right">
                                        <h1>25+</h1>
									</div>
								</div>
								<div class="bottom-sec text-center">
									<h5>
										“Companies Visited So Far
										 <em>516</em> and counting
									</h5>
								</div>


							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price">
								<div class="top-sec d-flex justify-content-between">
									<div class="top-left">
										<h4>Alumni Base</h4>
										<p>So Far</p>
									</div>
									<div class="top-right">
										<h1>1 Lakh + </h1>
									</div>
								</div>
								<div class="bottom-sec text-center">
									<h5>
										“YES!! we are Proud of our Alumni"
									</h5>
								</div>

							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price">
								<div class="top-sec d-flex justify-content-between">
									<div class="top-left">
										<h4>Courses</h4>
										<p>We offer</p>
									</div>
									<div class="top-right">
										<h1>100 Plus</h1>
									</div>
								</div>
								<div class="bottom-sec text-center">
									<h5>
										“Yes you are gonna like it !!<br>
                                        We assure that .
									</h5>
								</div>

						</div>

					</div>
				</div>
			</section>
			<!-- End price Area -->

			<!-- Start testomial Area
			<section class="testomial-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Newsletter From Our Students</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="active-tstimonial-carusel">
							<div class="single-testimonial item">
								<img class="mx-auto rounded-circle" src="/static/home/img/abhi.PNG" alt="">
								<p class="desc">
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
								</p>
								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto rounded-circle" src="/static/home/img/Ashish.PNG" height="100"alt="">
								<p class="desc">
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
								</p>
								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="/static/home/img/t3.png" alt="">
								<p class="desc">
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
								</p>
								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="/static/home/img/t1.png" alt="">
								<p class="desc">
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
								</p>
								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="/static/home/img/t2.png" alt="">
								<p class="desc">
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
								</p>
								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="/static/home/img/t3.png" alt="">
								<p class="desc">
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
								</p>
								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="/static/home/img/t1.png" alt="">
								<p class="desc">
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
								</p>
								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="/static/home/img/t2.png" alt="">
								<p class="desc">
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
								</p>
								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="/static/home/img/t3.png" alt="">
								<p class="desc">
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
								</p>
								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End testomial Area -->

			<!-- Start latest-blog Area
			<section class="latest-blog-area section-gap" id="blog">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Latest Publications</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 single-blog">
							<img class="img-fluid" src="/static/home/img/b1.jpg" alt="">
							<ul class="tags">
								<li><a href="#">Travel</a></li>
								<li><a href="#">Life style</a></li>
							</ul>
							<a href="#"><h4>Portable latest Fashion for young women</h4></a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
							</p>
							<p class="post-date">31st January, 2018</p>
						</div>
						<div class="col-lg-6 single-blog">
							<img class="img-fluid" src="/static/home/img/b2.jpg" alt="">
							<ul class="tags">
								<li><a href="#">Travel</a></li>
								<li><a href="#">Life style</a></li>
							</ul>
							<a href="#"><h4>Portable latest Fashion for young women</h4></a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
							</p>
							<p class="post-date">31st January, 2018</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End latest-blog Area -->

        <div class="section-gap"></div>

        <script type="text/javascript" src="{% static 'home/js/welcome_tag.js' %}"></script>

</div>

    {% endblock %}

{% block script %}

{% endblock %}