{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>Programs Offered</title>
    <style>

        td, th {
            text-transform: uppercase;
        }

        li{
            overflow-wrap: break-word;
        }



    </style>
{% endblock %}

{% block body %}

    <div class="container gap">
        <h2><u>Undergraduate Courses</u></h2>
        <br>

        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>S.No.</th>
                    <th>Courses Offered</th>
                    <th>Eligibility</th>
                    <th>Duration</th>
                    <th>Total seats</th>
                </tr>
                </thead>
                <tr>
                    <td>1</td>
                    <td>B.E. in Computer Science Engineering</td>
                    <td>10+2 in PCM</td>
                    <td>4 years</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>B.E. in Information Technology</td>
                    <td>10+2 in PCM</td>
                    <td>4 years</td>
                    <td>33</td>
                </tr>
            </table>
        </div>


        <p>*note - The total number of seats may vary depending upon lateral entry of some candidates and branch change
            requests in second year but will not exceed more than 40 in each course.</p>
        <h3><b>Admission Criteria:</b></h3>
        <hr>
        <p>The minimum academic qualification for admission to B.E. Program is as given below :
        <ul class="unordered-list">
            <li>Candidates must have taken at least five subjects in class 12th / qualifying examination in order to be
                eligible.
            </li>
            <li>Passed 10+2 examination with Physics, Chemistry and Mathematics as compulsory subjects. Obtained at
                least 45% marks (40% in case of candidate belonging to reserved category) in each of the subjects.
            </li>
            <li>Diploma/B.Sc. students can take admission with the LEEP in 2nd year of B.Tech. & 20% seats are reserved
                for this category.
            </li>
            <li>There is a special quota for Kashmiri Migrants(KM) for admission to these courses.</li>
        </ul>
        For admission in B.E. courses the students can apply through Rajasthan Engineering Admission Process(REAP) using
        their JEE mains scorecard. The cut-off for each course is declared every year and those students who fulfill
        this criteria are alloted a seat in the specified course.
        </p>

        <h2><u>Postgraduate Courses</u></h2>
        <br>

        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>S.No.</th>
                    <th>Courses Offered</th>
                    <th>Eligibility</th>
                    <th>Duration</th>
                    <th>Total seats</th>
                </tr>
                </thead>
                <tr>
                    <td>1</td>
                    <td>Master in Computer Applications(MCA)</td>
                    <td>Graduation or equivalent from any recognized college/university with a minimum of 55% marks.
                        (relaxable for reserved category candidates)
                    </td>
                    <td>3 years</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>M.E. (part time)</td>
                    <td>B.E./B.Tech/MCA or equivalent from any recognized college/university with a minimum of 55%
                        marks. (relaxable for reserved category candidates)
                    </td>
                    <td>2 years</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>M.E. (full time)</td>
                    <td>B.E./B.Tech/MCA or equivalent from any recognized college/university with a minimum of 55%
                        marks. (relaxable for reserved category candidates)
                    </td>
                    <td>2 years</td>
                    <td>18</td>
                </tr>
            </table>
        </div>

        <h3><b>Admission Criteria:</b></h3>
        <hr>
        <h4><b>For M.C.A. candidates-</b></h4>
        <br>
        <p >The minimum academic qualification for admission to M.C.A. Program is as given below :
        <ul class="unordered-list">
            <li>Any graduate who has passed or appearing for final year degree examination in any discipline(Science,
                Commerce, Arts, Engineering or any approved University) is eligible to apply.
            </li>
            <li>Candidates must have mathematics as a subject in their 10+2 course or any one year of graduation. B.C.A.
                qualified candidates can also pursue M.C.A.
            </li>
        </ul>
        For admission in M.C.A. courses the students can apply through their NIMCET and RMCAAP entrance test scorecard.
        </p>

        <h4><b>For M.E. candidates-</b></h4>
        <br>
        <p>The minimum academic qualification for admission to M.E. Program is as given below :
        <ul class="unordered-list">
            <li>For this course the students are admitted after they have obtained atleast a college level Bachelor's
                degree in related field.
            </li>
            <li>MCA Candidates are also eligible to apply for specializations available in areas of computer science
                engineering.
            </li>
        </ul>

        <br>

        For admission in M.E. courses the students can apply through their GATE entrance test scorecard.<br/>
        The college offers two types of courses in M.E. i.e. part- time and full-time. The candidate pursuing full-time
        M.E. is sponsored by a recognised R&D organisation, academic institution, governmental organisation or industry
        for doing M.E. in the Institute on a full-time basis. The applicant must be a regular employee of his/her
        organisation with at least two years of experience at the time of admission and be engaged in professional work
        in the discipline in which admission is sought. The candidate pursuing part-time M.E. are professionally
        employed personnel, who can attend classes at the Institute while employed. These candidates should be able to
        attend regular classes as per the schedule of the Institute. The applicant must be a regular employee of a
        recognized organisation with at least two years of experience at the time of admission and be engaged in
        professional work in the discipline in which admission is sought.
        </p>

        <h2><u>Doctorate Courses</u></h2>
        <br>

        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>S.No.</th>
                    <th>Courses Offered</th>
                    <th>Eligibility</th>
                    <th>Duration</th>
                    <th>Total seats</th>
                </tr>
                </thead>
                <tr>
                    <td>1</td>
                    <td>PhD in Computer Science</td>
                    <td>M.Tech. or equivalent from any recognized college/university with a minimum of 55% marks.
                        (relaxable for reserved category candidates)
                    </td>
                    <td>3-5 years</td>
                    <td>To be announced every year</td>
                </tr>
            </table>
        </div>
        <h3><b>Admission Criteria:</b></h3>
        <hr>
        <p>The minimum academic qualification for admission to PhD Program is as given below :
        <ul class="unordered-list">
            <li>Master's degree in Sciences/Engineering/Technology/Management/Social Sciences/Commerce with a good
                academic record.
            </li>
            <li>B.Tech/BE degree holders with a minimum of CGPA of 8.85 on a 10.0 point scale, or with a valid GATE
                Score.
            </li>
        </ul>
        </p>
        <p>For candidates who want to pursue PhD can apply for MPET exam conducted by Jai Narayan Vyas
            University(JNVU). </p>
    </div>

{% endblock %}