{% extends 'base.html' %}
{% load static %}

{% block head %}




{% endblock %}

{% block body %}



        <div class="section-gap">
            <div id="map" style="width:inherit; height:400px" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.7220113514686!2d73.03255364298819!3d26.270684148864543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x961ef6eae3641fc9!2sComputer+Science+Department+%2C+MBM+engineering+College!5e0!3m2!1sen!2sin!4v1532760295566" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>


			<!-- Start Generic Area -->
			<section class="about-generic-area" style="padding-bottom: 100px">
				<div class="container border-top-generic">
                    <h3 class="about-title mb-30"><b>Reach Us</b></h3>
                            <p style="font-size: 16px">
                                <b>Department of Computer Science And Engineering</b>
                               <br> M.B.M. Engineering College, FoEA,
                                <br> Jai Narain Vyas University,
                               <br> Ratanada, Jodhpur, Rajasthan, India
                                <br>Pin code - 342011
                                <br>Phone: (91) 0291-2515023
                                <br>Email: cse.mbm@jnvu.edu.in
                            </p>


				</div>
			</section>
			<!-- End Generic Start -->
         <!--script type="text/javascript" src="{% static 'home/js/map.js' %}"></script>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAkO6BmyJTLXW9wE7HUfEVLlhYaCp1dv4&callback=myMap"></script>
-->




{% endblock %}

