{% extends 'user/base.html' %}
{% block head %}
    <title>Questions</title>
{% endblock %}
{% block body %}


    <div style="margin-top: 80px ; padding: 0px 50px;">

<h1 class="text-center">Questions</h1>
    <br>
    <br>
<div style="overflow-x:auto;">
<a class="float-right" href="javascript:history.go(-1)"><img src="https://png.icons8.com/ios/150/3584fc/left-filled.png" height="50px" width="50px"></a>

<table class="table">
  <tr>

    <th>Question_order</th>
    <th>Type</th>
    <th>Text</th>
    <th>Max_marks</th>
    <th>Scheme</th>
  </tr>


<tr>
{% for question in assessment.assessmentquestion_set.all %}
    <td>{{ question.question_order }}</td>
    <td>{{ question.question_type}}</td>
    <td>{{ question.text }}</td>
    <td>{{ question.max_marks }}</td>
    <td>{{ question.marking_scheme}}</td>

</tr>

{% endfor %}
</table>
</div>
    </div>
{% endblock %}