{% extends 'base.html' %}

{% block head %}
    <title>Password Reset</title>
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Password Reset</h1>
        <p>Don't Worry you are not going to lose your account !!</p>
        <p>
            Forgot Your Password? Enter your registered email address below, and we will email the instructions to set a new one !!!
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Reset my Password</button>
         </form>

    </div>

{% endblock %}