{% extends 'registration/base.html' %}

{% block head %}
    <title>Register</title>
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Register</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button type="submit">
                Regiter
            </button>
         </form>

    </div>

{% endblock %}