{% extends 'base.html' %}

{% block head %}
    <title>Register</title>
{% endblock %}

{% block body %}

    {% load widget_tweaks %}

    <div class="container" style="padding-top: 150px ; padding-bottom: 150px">
        <h1>Register</h1>

        <form  method="post">

            {% csrf_token %}

            {% for field in form %}
              <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}<br>
                {% render_field field class="form-control" %}
              </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Register</button>

        </form>

    </div>

{% endblock %}