{% extends 'user/base.html' %}
{% load staticfiles %}

{% block head %}
        <title>My Publications</title>
{% endblock %}

{% block body %}
  <img src="{%static 'images/publications.jpg'%}" alt="this is the image" height="150px" width="1100px">

    <div class="container">
         <div class="table" style="margin: 60px">
          <ul>
            {% for publication in object_list %}
            <li id="pub_li">

              <a style="font-size: 23px;" href="{% url 'publications:detail' publication.id %}">
                  {{ publication.title.upper }}
              </a>
                <br>
<br>
                <h5><span class="fa fa-calendar"></span> {{ publication.date_of_addition}}, <span class="fa fa-user"></span>  {{publication.author.get_full_name.upper}}</h5>
                <div class="row ml-10 mt-3">
                <form action="{% url 'publications:publication-update' publication.id %}" method="get">
                    {% csrf_token %}
                    <input class="btn btn-sm btn-success" type="submit" value="Update" >
                </form>

                 <form action="{% url 'publications:publication-delete' publication.id %}" method="post">
                   {% csrf_token %}
                    <input class="btn btn-sm btn-danger ml-2" type="submit" value="Delete"  onclick="return confirm('Are you sure you want to delete this?')">

                </form>
                </div>
                <hr>

              </li>
              {% endfor %}
          </ul>
        </div>


    </div>

{% endblock %}