{% extends 'user/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm</title>
</head>
<body>
    <p>Confirm Delete</p>
{% block body %}
<h2 style="color: aliceblue">Confirm Delete</h2>
    <form action="{% url 'user:user_delete'  user.id %}"  method="post">
    {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user.id }}" />
        <input type="submit" class="btn btn-default btn-sm" value="Yes">
        <input type="submit" class="btn btn-default btn-sm" value="No" formaction="{% url 'user:user_profile' user.id %}" formmethod="get">

    </form>
{% endblock %}
</body>
</html>