{% extends 'user/base.html'%}
{%  load staticfiles %}
{% block title %} My Courses {% endblock %}

{% block body %}

<h2 class="text-left">Courses offered by you </h2>

 <div class="container">

                  <table class="table table-striped">
                  <tr>
                      <th>Course Name</th>
                      <th>Enrollment</th>

                  </tr>
                      {% for course in courses %}
                          <tr>
                               <td>   <div class="" data-sem="{{ course.semester }}" data-program="{{course.programdetails}}">
                    <div class="" style="margin-left: 150px; margin-top: 15px;">
                        {{ course.course }}-{{ course.year }}

                    </div>
       </div></td>
                               <td> <a href="{% url 'course:enroll-student' course.id %}">
                                    <button type="submit" class="btn btn-default">Enroll Student </button>
                                    </a>
                               </td>

                          </tr>

                      {% endfor %}
                  </table>
        </div>
{% endblock %}



