{% extends 'user/base.html'%}
{%  load staticfiles %}
{% block title %} Searching {% endblock %}

{% block body %}

    {% if request.user.profile.type == "F" %}
<div class="row " style="margin-top: 50px;margin-left: 10px; margin-right: 10px; margin-bottom: 50px;">

             <div class="col-lg-6" style="padding-top: 10px;">
                  <a href="{% url 'course:course-add' %}" class="btn btn-info"> <i class="fa fa-plus"></i>  ADD COURSE</a>
                  <a href="{% url 'course:index'%}" class="btn btn-info"><i class="fa fa-envelope"></i>  MY COURSE</a>
                  <a href="{% url 'course:course-offer'%}" class="btn btn-info"><i class="fa fa-envelope"></i>  OFFER COURSE</a>

             </div>

             <div class="row col-lg-6" style="padding-left: 150px;">
              <form class="navbar navbar-right" method="post" action="{% url 'course:course-search' %}">
                  {% csrf_token %}
                          <input type="text" name="srh" class="form-control col-lg-8" placeholder="Enter Course " >
                      <label class="label" style="margin-left: 10px">
                          <button type="submit" class="btn btn-default">Search</button>
                      </label>
              </form>
             </div>

</div>

          <hr>




    {% elif request.user.profile.type == "S" %}

         <div class="row " style="margin-top: 50px; margin-left: 10px;margin-right: 10px;margin-bottom: 50px;">

             <div class="col-lg-5" style="padding-top: 10px;">
                   <a href="{% url 'course:index'%}" class="btn btn-info"><span class="fa fa-envelope"></span> MY COURSE</a>
             </div>

             <div class="row" style="padding-left: 232px;">
              <form class="navbar navbar-right" method="post" action="{% url 'course:course-search' %}">
                  {% csrf_token %}
                          <input type="text" name="srh" class="form-control col-lg-8" placeholder="Enter Course " >
                      <label class="label" style="margin-left: 10px">
                          <button type="submit" class="btn btn-default">Search</button>
                      </label>
              </form>
             </div>
         </div>

          <hr>

              {% endif %}
<div>
    {% if messages %}
        <ul class="messages">
            {% for k in messages %}
            <li style="color:red">{{ k }}</li>
            {% endfor %}
        </ul>
</div>

    <div style="color:blue">
        {% elif sr %}

                 <div class="container">
                  <h1> Courses </h1>
                  <table class="table table-striped">
                  <tr>
                      <th>Course Code</th>
                      <th>Name</th>
                      <th>Semester</th>
                  </tr>

                      {% for course in sr %}
                          <tr>
                              <td>{{course.course_code }}</td>
                              <td><a href ="{% url 'course:detail' course.id %}">{{ course.name }}</a></td>
                              <td>{{ course.get_semester_display }}</td>
                          </tr>

                      {% endfor %}
                  </table>
                 </div>
    </div>

        {% endif %}

              {% endblock %}