{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title> Show F Detail</title>


     {% endblock %}

{% block body %}
<ul>

 <style>
    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

    .title {
        color: grey;
        font-size: 18px;
    }

    #button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    #a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

    button:hover, a:hover {
        opacity: 0.7;
    }
    </style>

    <div class="row" style="padding: 250px 100px">

    {% for f in detail %}
            <div class="col-md-4">
                <div class="card mt-5">
                    {% if f.user.profile.photo %}
                        <img src="{{ f.user.profile.photo.url }}" alt="{{ f.user.get_full_name }}" style="align-self: center" height="100%" width="100%">
                    {% else %}
                        <img src="{% static 'user/img/dummy_profile.png' %}" alt="{{ f.user.get_full_name }}" style="align-self: center" height="200" width="200">
                    {% endif %}
                  <h1>{{ f.user.first_name  }} {{ f.user.last_name  }}</h1>
                  <p class="title"></p>
                  <p>{{ f.get_designation_display }}</p>
                  <p>Qualifications <br>{{ f.qualification }}</p>
                  <p><button id="button">Contact</button></p>
                </div>
            </div>
    {% endfor %}
    </div>
</ul>
 {% endblock %}