{% extends 'user/base.html' %}

{% block head %}
<title>Read</title>

{% endblock %}

{% block body %}

    <style media="screen">
/* Chat containers */

.custom_class1{
   border: 1px solid #d0c6c6;
    height: 350px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    padding: 0px;
}

.container1, .container2{
     border: 2px solid #dedede;
  background-color: #f1f1f1;
  padding: 18px;
}



.container1 a {
    color: #0b0b0b;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img  {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: 13px;
        margin-top: 42px;
    }

    #img {
      float: left;
    /* max-width: 60px; */
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    margin-top: -14px;
    }
</style>

    <div class="row">
        <div class="custom_class1 col-md-3">
        <div class="">


        {% for i in form %}
            {% if i.sender_id == sender %}
            <div class="container1" style="background-color: #f1d7dc">

            {% else %}
        <div class="container2">

            {% endif %}
            <a href="{% url 'communication:read_view' i.sender_id %}">{{ i.sender.first_name }} {{ i.sender.last_name }} </a>
           <img id="img" src="{{ i.sender.profile.photo.url  }}">

        </div>
        {% endfor %}

        </div>
        </div>


</div>

</div>

{% endblock %}
